<div class="suggestion col-sm-12 col-md-6 col-lg-4">
    {{ partial "card-image.html" . }}

    <div class="content">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

        <p class="summary">
            <a href="{{ .RelPermalink }}">
                {{ with .Description }}{{ . }}
                {{ else }}{{ with .Summary }}{{ . | plainify | htmlUnescape }}
                {{ end }}{{ end }}
            </a>
        </p>

        <div class="tags">
            {{ range .Params.tags }}
            <a href="{{ (print "tags/" (. | urlize) | relURL) }}"><span class="tag bg-dark">{{ . }}</span></a>
            {{ end }}
        </div>
    </div>
</div>
